.gallery {
  --item-text-color: var(--neutral-700);
  --item-text-color-hover: black;
  --item-title-bg-color: #fffb;
  --item-border-color: var(--neutral-200);
  --item-border-color-hover: var(--neutral-400);

  [data-theme='dark'] & {
    --item-text-color: var(--neutral-400);
    --item-text-color-hover: white;
    --item-title-bg-color: rgb(from var(--neutral-900) r g b / 80%);
    --item-border-color: var(--neutral-800);
    --item-border-color-hover: var(--neutral-600);
  }
}

.variation-preview {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'variations flame'
    'variation-options flame';
  width: 90vw;
  gap: var(--space-3);
  overflow: hidden;
}

.modal-no-scroll {
  overflow: hidden;
}

.variation-selector-sidebar {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  grid-area: variations;
}

.variation-selector-sidebar-options {
  grid-area: variation-options;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, auto));
  gap: 0.2rem;
  justify-items: stretch;
  padding-bottom: var(--space-3);
}

.affine-editor {
  max-height: 25vh;
}

.sentinel {
  min-height: 2rem;
}

.undo-message {
  font-style: italic;
  font-size: small;
  color: var(--neutral-500);
}

.item {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  border: 2px solid var(--item-border-color);
  border-radius: 0.5rem;
  cursor: pointer;
  background: none;
  color: var(--item-text-color);

  &:hover {
    color: var(--item-text-color-hover);
    border: 2px solid var(--item-border-color-hover);
  }

  &.selected {
    background: #1a1a1a;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    [data-theme='dark'] & {
      background: linear-gradient(
          45deg,
          transparent 0%,
          #c98e21 20%,
          #c98e21 80%,
          transparent 100%
        )
        border-box;
    }

    background: linear-gradient(45deg, #00bfff 20%, #00bfff 80%) border-box;
  }
}

.preview-title {
  display: flex;
  align-items: center;
}

.item-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  background-color: var(--item-title-bg-color);
  font-size: small;
}

.item-params {
  display: grid;
  grid-template-columns: auto 1fr auto;

  gap: var(--space-3);
  font-size: small;

  align-items: center;
  justify-items: stretch;

  & > :first-child {
    justify-self: start;
  }
  & > label > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
  }
}

.canvas {
    image-rendering: pixelated;
    /* allow pointer events to act correctly on touch devices */
    touch-action: none;
}

.flame-preview {
  grid-area: flame;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'preview'
    'preview-controls';
  overflow: hidden;

  /* Start a stacking context so canvas doesn't go behind body */
  isolation: isolate;
}

.flame-preview-flame {
  z-index: -1;
  grid-area: preview;
  grid-row-end: preview-controls;
}

.flame-preview-controls {
  grid-area: preview-controls;
  display: flex;
  padding: var(--space-2);
  gap: var(--space-2);

  isolation: isolate;
}
